# Byte-compiled / cache
__pycache__/
*.pyc

# Databases and archives
databases/
humari.zip

# Configs
config.json
discloud.config

# Dependencies
requirements.txt

# Assets
assets/petpet_avatar.gif
databases/economydata.db